# vim: syntax=udevrules

# /etc/udev/rules.d/10-ttylinux.rules
# (2011) for ttylinux by Douglas Jerome

# *****************************************************************************
# udev-163 doesn't seem to provide cdrom_id rules for hd, pcd or scd devices.
# *****************************************************************************

ACTION=="remove",     GOTO="ttylinux_cdrom_end"
SUBSYSTEM!="block",   GOTO="ttylinux_cdrom_end"
ENV{DEVTYPE}!="disk", GOTO="ttylinux_cdrom_end"

KERNEL=="hd[a-z]*",  IMPORT{program}="cdrom_id --export $tempnode"
KERNEL=="pcd[0-9]*", IMPORT{program}="cdrom_id --export $tempnode"
KERNEL=="scd[0-9]*", IMPORT{program}="cdrom_id --export $tempnode"

LABEL="ttylinux_cdrom_end"
