# vim: syntax=udevrules

# /etc/udev/rules.d/27-firmware.rules
# (2007) for Bare Bones Linux by Douglas Jerome
# (2009) adapted to minimalinux by Douglas Jerome
# (2010) adapted to ttylinux by Douglas Jerome

# *****************************************************************************
# Load firmware for devices that need it.  Firmware-class requests; copies
# files into the kernel.
# *****************************************************************************

SUBSYSTEM=="firmware", ACTION=="add", RUN+="firmware.sh"
