# vim: syntax=udevrules

# /etc/udev/rules.d/50-bblinux.rules
# Based on Open Suse Udev Rules <kay.sievers@suse.de>
# Adapted to LFS: Alexander E. Patrakov, Jim Gifford
# (2007) for Bare Bones Linux by Douglas Jerome
# (2009) adapted to minimalinux by Douglas Jerome
# (2010) adapted to ttylinux by Douglas Jerome

# *****************************************************************************
# CPU Devices
# *****************************************************************************

KERNEL=="microcode", MODE="0600", NAME="cpu/microcode"
KERNEL=="cpu[0-9]*", MODE="0444", NAME="cpu/%n/cpuid"
KERNEL=="msr[0-9]*",              NAME="cpu/%n/msr"

# *****************************************************************************
# Memory Devices
# *****************************************************************************

# char - Memory Devices - [major 1]
#
KERNEL=="aio",      MODE="0644"
KERNEL=="full",     MODE="0666"
KERNEL=="kmem",     MODE="0640", GROUP="kmem"
KERNEL=="kmsg",     MODE="0600"
KERNEL=="mem",      MODE="0640", GROUP="kmem"
KERNEL=="null",     MODE="0666"
KERNEL=="port",     MODE="0640", GROUP="kmem"
KERNEL=="random",   MODE="0644", GROUP="sys"
KERNEL=="urandom",  MODE="0644", GROUP="sys"
KERNEL=="zero",     MODE="0666"

# *****************************************************************************
# Miscellaneous Devices
# *****************************************************************************

# char - Miscellaneous Devices - [major 10]
#
KERNEL=="hw_random", MODE="0444", NAME="hwrng", SYMLINK+="%k"
KERNEL=="nvram",     MODE="0600", GROUP="kmem"
KERNEL=="psaux",     MODE="0644"
KERNEL=="rtc",       MODE="0644"
KERNEL=="rtc0",      MODE="0644", SYMLINK+="rtc"
KERNEL=="tun",       MODE="0600", NAME="net/%k"

# *****************************************************************************
# TTY Devices
# *****************************************************************************

# char - Pseudo-TTY Masters - [major 2]
#
KERNEL=="pty[pqrstuvwxyzabcde][0123456789abcdef]", MODE="0666", GROUP="tty", OPTIONS+="last_rule"

# char - Pseudo-TTY Slaves - [major 3]
#
KERNEL=="tty[pqrstuvwxyzabcde][0123456789abcdef]", MODE="0666", GROUP="tty", OPTIONS+="last_rule"

# char - TTY Devices - [major 4]
#
KERNEL=="tty[0-9]*",  MODE="0620", GROUP="tty", OPTIONS+="last_rule"
KERNEL=="ttyS[0-9]*", MODE="0660", GROUP="uucp"

# char - Alternate TTY Devices - [major 5]
#
KERNEL=="tty",      MODE="0666", GROUP="tty", OPTIONS+="last_rule"
KERNEL=="console",  MODE="0622", GROUP="tty", OPTIONS+="last_rule"
KERNEL=="ptmx",     MODE="0666", GROUP="tty", OPTIONS+="last_rule"

# char - Virtual Console Capture Devices - [major 7]
#
KERNEL=="vcs",        OWNER="vcsa", GROUP="tty", OPTIONS="last_rule"
KERNEL=="vcs[0-9]*",  OWNER="vcsa", GROUP="tty", OPTIONS="last_rule"
KERNEL=="vcsa",       OWNER="vcsa", GROUP="tty", OPTIONS="last_rule"
KERNEL=="vcsa[0-9]*", OWNER="vcsa", GROUP="tty", OPTIONS="last_rule"
KERNEL=="vcc/*",      OWNER="vcsa", GROUP="tty", OPTIONS="last_rule"

# *****************************************************************************
# Input Devices
# *****************************************************************************

# char - Input Core - [major 13]
#
KERNEL=="js[0-31]",    MODE="0644", NAME="input/%k"
KERNEL=="mouse[0-31]", MODE="0644", NAME="input/%k"
KERNEL=="mice",        MODE="0644", NAME="input/%k" SYMLINK+="mouse"
KERNEL=="event[0-31]", MODE="0644", NAME="input/%k"

# char - Analog Joystick, Digital Joystick - [major 15]
#
KERNEL=="js[0-7]",  MODE="0644"
KERNEL=="djs[0-7]", MODE="0644"
KERNEL=="js0",      SYMLINK+="js"
KERNEL=="djs0",     SYMLINK+="djs"

# *****************************************************************************
# Graphics and Video Devices
# *****************************************************************************

SUBSYSTEM=="drm",         GROUP="video"
SUBSYSTEM=="graphics",    GROUP="video"
SUBSYSTEM=="video4linux", GROUP="video"
#
KERNEL=="agpgart",     GROUP="video", MODE="0600"
KERNEL=="card[0-9]*",  NAME="dri/%k", MODE="0666"
KERNEL=="fb[0-9]*",    GROUP="video", MODE="0620"
KERNEL=="nvidia*",     GROUP="video"
KERNEL=="nvidiactl*",  GROUP="video"
KERNEL=="pmu",         GROUP="video"
KERNEL=="radio",       GROUP="video"
KERNEL=="video",       GROUP="video"
KERNEL=="video[0-9]*", GROUP="video"
KERNEL=="radio[0-9]*", GROUP="video"
KERNEL=="vttuner",     GROUP="video"
KERNEL=="vtx[0-9]*",   GROUP="video"
KERNEL=="vbi[0-9]*",   GROUP="video"
KERNEL=="winradio",    GROUP="video"
#
KERNEL=="fb0",         SYMLINK+="fb"
KERNEL=="vbi0",        SYMLINK+="vbi"
KERNEL=="video0",      SYMLINK+="video"
KERNEL=="radio0",      SYMLINK+="radio"

# *****************************************************************************
# Depricated Sound Devices
# *****************************************************************************

# char - Open Sound System (OSS) - [major 14]
#
KERNEL=="mixer*",     MODE="0660", GROUP="audio"
KERNEL=="sequencer",  MODE="0660", GROUP="audio"
KERNEL=="sequencer2", MODE="0660", GROUP="audio"
KERNEL=="midi*",      MODE="0660", GROUP="audio"
KERNEL=="dsp*",       MODE="0660", GROUP="audio"
KERNEL=="sndstat",    MODE="0660", GROUP="audio"
KERNEL=="patmgr*",    MODE="0660", GROUP="audio"
KERNEL=="audio0",     SYMLINK+="audio"
KERNEL=="dsp0",       SYMLINK+="dsp"
KERNEL=="midi0",      SYMLINK+="midi"
KERNEL=="mixer0",     SYMLINK+="mixer"

# *****************************************************************************
# Sound Devices, ALSA
# *****************************************************************************

# char - Advanced Linux Sound Driver (ALSA) - [major 116]
#
KERNEL=="controlC[0-9]*", MODE="0660", GROUP="audio", NAME="snd/%k"
KERNEL=="hwC[D0-9]*",     MODE="0660", GROUP="audio", NAME="snd/%k"
KERNEL=="midiC[D0-9]*",   MODE="0660", GROUP="audio", NAME="snd/%k"
KERNEL=="pcmC[D0-9cp]*",  MODE="0660", GROUP="audio", NAME="snd/%k"
KERNEL=="seq",            MODE="0660", GROUP="audio", NAME="snd/%k"
KERNEL=="timer",          MODE="0660", GROUP="audio", NAME="snd/%k"

# *****************************************************************************
# Printer Devices
# *****************************************************************************

KERNEL=="lp*", SUBSYSTEM=="printer", GROUP="lp"
KERNEL=="lp[0-7]",                   GROUP="lp", MODE="0660"
KERNEL=="parport[0-7]",              GROUP="lp", MODE="0660"

# *****************************************************************************
# Block Devices
# *****************************************************************************

# block - Floppy Disks - [major 2]
#
KERNEL=="fd[0-7]*", ACTION=="add",    MODE="0660", GROUP="floppy"
KERNEL=="fd[0-7]*", ACTION=="remove", RUN+="/bin/rm -f $root/%k*"

SUBSYSTEM=="block", GROUP="disk", MODE="0640"

# sd       0 TYPE_DISK, 7 TYPE_MOD, 14 TYPE_RBC
# sr       4 TYPE_WORM, 5 TYPE_ROM
# (os)st   1 TYPE_TAPE
#
# ACTION=="add", SUBSYSTEM=="scsi", ATTRS{type}=="0|7|14", RUN+="/bin/sh -c 'echo 60  >/sys/$DEVPATH/timeout'"
# ACTION=="add", SUBSYSTEM=="scsi", ATTRS{type}=="1",      RUN+="/bin/sh -c 'echo 900 >/sys/$DEVPATH/timeout'"
SUBSYSTEM=="scsi", KERNEL=="[0-9]*:[0-9]*", ACTION=="add", ATTR{type}=="0|7|14", ATTR{timeout}="60"
SUBSYSTEM=="scsi", KERNEL=="[0-9]*:[0-9]*", ACTION=="add", ATTR{type}=="1",      ATTR{timeout}="900"

KERNEL=="ram[0-7]",           MODE="0660", GROUP="disk"
KERNEL=="initrd",             MODE="0660", GROUP="disk"
KERNEL=="hd[a-z][0-9]*",      MODE="0660", GROUP="disk"
KERNEL=="loop[0-9]",          MODE="0660", GROUP="disk"
KERNEL=="loop1[0-5]",         MODE="0660", GROUP="disk"
KERNEL=="sd[a-z]",            MODE="0660", GROUP="disk"
KERNEL=="sd[a-z][0-9]*",      MODE="0660", GROUP="disk"
KERNEL=="sd[a-i][a-z]",       MODE="0660", GROUP="disk"
KERNEL=="sd[a-i][a-z][0-9]*", MODE="0660", GROUP="disk"
KERNEL=="sr[0-9]",            MODE="0640", GROUP="disk"
KERNEL=="sr1[0-5]",           MODE="0640", GROUP="disk"
KERNEL=="sg[0-9]",            MODE="0640", GROUP="disk"
KERNEL=="sg1[0-5]",           MODE="0640", GROUP="disk"
KERNEL=="rawctl*",            MODE="0660", GROUP="disk"
KERNEL=="ram0",               SYMLINK+="ram"
KERNEL=="ram0",               SYMLINK+="ramdisk"

# dmsetup and lvm2 programs create devicemapper devices, so prevent udev from
# creating them.
#
KERNEL=="dm-*",          OPTIONS+="ignore_device"
KERNEL=="device-mapper", OPTIONS+="ignore_device"
