# vim: syntax=udevrules

# /etc/udev/rules.d/81-cdrom.rules
# (2009) adapted to minimalinux by Douglas Jerome
# (2010) adapted to ttylinux by Douglas Jerome

KERNEL=="hd[a-z]*",  IMPORT{program}="cdrom_id --export $tempnode"
KERNEL=="pcd[0-9]*", IMPORT{program}="cdrom_id --export $tempnode"
KERNEL=="scd[0-9]*", IMPORT{program}="cdrom_id --export $tempnode"
KERNEL=="sr[0-9]*",  IMPORT{program}="cdrom_id --export $tempnode"

ACTION=="add", SUBSYSTEM=="block", ENV{ID_CDROM_CD_R}=="?*",   SYMLINK+="cdrom"
ACTION=="add", SUBSYSTEM=="block", ENV{ID_CDROM_CD_RW}=="?*",  SYMLINK+="cdrw"
ACTION=="add", SUBSYSTEM=="block", ENV{ID_CDROM_DVD}=="?*",    SYMLINK+="dvd"
ACTION=="add", SUBSYSTEM=="block", ENV{ID_CDROM_DVD_RW}=="?*", SYMLINK+="dvdrw"

